body {
  background-color: #000;
}

.votacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include responsive(s) {
    grid-template-columns: 1fr;
  }
}

.votacao-txt {
  border: 2px solid #000dad;
  border-radius: 20px;
  padding: 20px;
}

.form-votacao {
  p {
    margin-top: 1rem;
  }

  input {
    background-color: #353535;
    border-style: none;
    border-color: #535353;
    border-image: initial;
    border-radius: 20px;
    color: #fff;
    padding: 10px 16px;
    margin-top: 0.5rem;
  }

  label {
    color: rgb(227, 227, 227);
  }
}

.form-dados-votado {
  margin-top: 20px;
  border-top: 1px solid #555;
  div {
    margin-top: 1rem;
  }

  h3 {
    padding-top: 20px;
  }
}

.input-txt {
  width: 100%;
}
