// Tipografias
// Poppins
@mixin typeface-1($size, $device: desktop) {
  font-family: "Poppins", sans-serif;

  // h1
  @if $size == h1 and $device == desktop {
    font-size: 60px;
    line-height: 125%;
  } @else if $size == h1 and $device == mobile {
    font-size: 48px;
    line-height: 125%;
  }

  // H2
  @if $size == h2 and $device == desktop {
    font-size: 20px;
    line-height: 120%;
  } @else if $size == h2 and $device == mobile {
    font-size: 20px;
    line-height: 120%;
  }

  // p
  @else if $size == p and $device == desktop {
    font-size: 18px;
    line-height: 100%;
  } @else if $size == p and $device == mobile {
    font-size: 18px;
    line-height: 100%;
  }

  // a
  @else if $size == a1 and $device == desktop {
    font-size: 20px;
    line-height: 100%;
  } @else if $size == a1 and $device == mobile {
    font-size: 20px;
    line-height: 100%;
  }
}

h1 {
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
  text-align: center;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  font-weight: 400;
  color: #aaa;
  text-align: center;
  margin: 20px 0 60px 0;
  padding: 0 200px;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
    padding: 0;
  }
}

h3 {
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

p {
  @include typeface-1(p, desktop);
  @include responsive(s) {
    @include typeface-1(p, mobile);
  }
}

a {
  @include typeface-1(a1, desktop);
  @include responsive(s) {
    @include typeface-1(a1, mobile);
  }
}

button {
  padding: 10px 0;
  border-radius: 20px;
  width: 100%;
  margin-top: 1rem;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #000dad;
  color: #fff;

  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #000dad;
  }
}
